<section class="why-choose">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mb-4">
                <h2 >Why Choose Us Metro Service</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
               <p class="text-justify">
                Metro Facility Management is professional in HR Solution As Staffing, 
                Housekeeping, Security solution and project management etc. Our 
                leadership qualities and innovative ideas guided by professional 
                in aforesaid fields. METRO to realize that constant changes are 
                the only step forward toward the future. METRO have approved 
                standard of ISO 9001-2008. METRO provide highest quality manpower 
                services to all our esteemed clients to fit in all circumstances 
                and within budgets.
               
               </p>
               <ul class="choose">
                <li><span class="material-icons"> navigate_next </span> Quick turnaround time </li>
                <li><span class="material-icons"> navigate_next </span> Experience with marquee clients </li>
                <li><span class="material-icons"> navigate_next </span> Wide range of industries </li>
                <li><span class="material-icons"> navigate_next </span> Single point of contact for coordination </li>
                <li><span class="material-icons"> navigate_next </span> Quick Service </li>
            </ul>
            </div>
            <div class="col-md-6">
                <img src="assets/images/clean.gif" class="w-100" alt="">
            </div>
        </div>
    </div>
</section>