.choose{
    list-style: none;
    padding: 0;
    li{
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        color: #5c5858;
        font-weight: 500;
        font-style: oblique;
    }
}