<section id="featured-services" class="featured-services">
	<div class="container aos-init aos-animate" data-aos="fade-up">
		<div class="row">
			<div class="col-md-12 text-center mb-4">
				<h2>Our expertise in facilities management</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
				<div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
					<div class="icon"><i class="fas fa-home"></i>
						</div>
					<h4 class="title"><a href="">Housekeeping Services</a></h4>
					<p class="description">Busy schedules make it difficult to find time to maintain a proper home.
					</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
				<div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
					<div class="icon"><i class="fas fa-bug"></i></div>
					<h4 class="title"><a href="">Pest Control Services</a></h4>
					<p class="description">Metro Facility service have great experience in eliminating pests from your organization.
					</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
				<div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
					<div class="icon"><i class="fas fa-user-secret"></i></div>
					<h4 class="title"><a href="">Security Services</a></h4>
					<p class="description">Metro Facility Management provide Security Services Metro prove numbaer of security.</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
				<div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
					<div class="icon"><i class="fas fa-users"></i></div>
					<h4 class="title"><a href="">Staffing Services</a></h4>
					<p class="description">Metro Facility Management provide staffing agency is an entity whose representatives.</p>
				</div>
			</div>
		</div>
	</div>
</section>
