.h1, h1 {
    font-size: 2.5rem!important;
}

//stats 
.stats-blog 
  .stats-text span {
    padding: 0 0px;
    font-size: 24px ;
    font-weight: 500;
}
.stats-blog {
    border-radius: 6px;
    background-color: #fff !important;
    margin-bottom: 27px;
    border: 1px solid #dcdcdc;
    span{
        padding: 0 0px;
    font-size: 24px;
    font-weight: 500;
    img{
        border: 2px solid #e6e6e6;
        padding: 3px;
        border-radius: 6px;
        margin: 13px 7px 11px;
        width: 40px;
      //  height: 40px;
        background: #ddd;
      }
    }
   
     
}
.stats-text {
    p{
        font-size: 16px;
    font-weight: 500;
    padding: 0 10px;
    margin: 0;
    color: #0763bf;
    }
}