<div class="same-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 banner-text">
                <div class="search-banner mt-5">
                    <h2> About us </h2>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-image clearfix">
                    <div class="single-image float-left">
                        <img src="assets/images/ab1.jpg" alt="">
                    </div>
                    <div class="single-image image-tow float-right">
                        <img src="assets/images/ab2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <h2> Welcome to Metro </h2>
                    <p> M/s Metro Facility Management is professional in HR Solution
                        As Staffing, Housekeeping, Security solution and project management etc.
                        Our leadership qualities and innovative ideas guided by professional
                        in aforesaid fields. METRO to realize that constant changes are the
                        only step forward toward the future. METRO have approved standard of
                        ISO 9001-2008. METRO provide highest quality manpower services to
                        all our esteemed clients to fit in all circumstances and within budgets.
                        METRO vision is to provide security with cutting edge protection and
                        loss prevention services, which is unique in the field of private security organization.
                        It has been our endeavor to be innovative productive, positive and quality
                        conscious so that we effectively secure tomorrow today.</p>
                </div>
            </div>
        </div>
    </div>
</section>



<section >
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-left mb-4">
				<!-- <h2>Metro</h2> -->
                <ul class="about-blog">
                    <li>
                        <strong>METRO</strong> has set new standard in security & facility management industry. A correct blend of skills & resources, developed & perfected by team has enabled us through an expert team reputed of professional to provide unparalleled & intensive service to the prime segment of well known corporate houses, hotels, hospitals, and industries & institution from the smallest residences to the largest corporation. We have been providing services to fit in all circumstances & budgets.
                    </li>
                    <li>
                        With the overall economic development in the country, the purchasing power of a consumer has increased manifold. Richer the consumer is bigger is the worry to retain his assets and hence the need of security system. The present strength of the state force is not adequate to deal with the increasing requirements. In the recent general election the private security agencies has played a vital role and earned a fair amount of revenue for the govt.
                    </li>
                    <li>
                        <strong>METRO</strong> brings the industry an international standard of services. We at METRO teach our staff that they are the eyes and ears of the client. The owners cannot watch everything round the clock. They rely on security to look after their interests at all times. A result oriented, highly motivated and a well trained guarding force has been generated by us and the credit for this goes to our managerial team who have an army & well disciplined background.
                    </li>
                </ul>
			</div>
            <div class="col-md-12 text-left mb-4 bg-secondary text-white text-center p-3">
				<h2 class="">AIM</h2>
                <p class="m-0">The focus at <strong>METRO</strong> is to provide customized Human Resources Solution, Security Solution and Allied Services to our precious clients.</p>
			</div>
		</div>
	</div>
</section>

<div class="about-service">
    <app-services></app-services>
</div>