
.same-banner{
    background-color: #34f5f514;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 18rem;
    padding-top: 160px;
    background-image: url(/assets/images/1.jpg);
    h2{
        font-size: 30px;
    font-weight: 700;
    color: #2a578c;
    text-transform: uppercase;
    }
}


@media (max-width: 980px){
    .banner{
        height: auto;
        padding-top: 14px;
        .search-banner {
            background: transparent;
            border: none;
            h2{
    text-align: center;
    padding: 10px 0;
            }
        }
    }
  
}


//********************************************************
.about-service{
    background: aliceblue;
}
.about-image {
    position: relative;
}
.about-image::before {
    position: absolute;
    content: '';
    background-image: url(/assets/images/dots.jpg);
    background-position: center center;
    background-size: 100%;
    width: 375px;
    height: 350px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: -1;
}
.about-image .single-image {
    width: 360px;
}
.float-left {
    float: left;
}
// .about-image .single-image img {
//     width: 100%;
// }
.about-image .single-image.image-tow {
    margin-top: -200px;
    position: relative;
    z-index: 5;
}

.about-image .single-image {
    width: 360px;
}
.float-right {
    float: right;
}

.about-content p{
	margin-bottom: 0px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #646464;
	font-family: 'Poppins', sans-serif;
}
.about-blog {
   font-size: 18px;
   text-align: justify;
   padding: 0;
   li{
    margin-bottom: 20px;
   
   }
}
// .main-btn {
//     display: inline-block;
//     font-weight: 600;
//     text-align: center;
//     border: 1px solid #eb3656;
//     padding: 0 30px;
//     line-height: 48px;
//     color: #fff;
//     transition: all .8s ease-out 0s;
//     background-color: #eb3656;
//     letter-spacing: 2px;
//     text-transform: uppercase;
// 	text-decoration:none;
// }

// .main-btn:hover{
// 	background:#333;
// 	color:#fff;
// 	border-color:#333;
//     transition: all .8s ease-out 0s;
// 	text-decoration:none;
// }