<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="banner">
  <div class="container navbar-white">
    <a class="navbar-brand js-scroll-trigger main-logo" href="#page-top">
      <img src="assets/images/METRO.png" class="logo w-100" alt="">
    </a>
    <button class="navbar-toggler collapsed pr-0" id="main" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" (click)="openNav()">
        <i class="material-icons text-dark">
          menu
          </i>
      </span>
    </button>
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav ml-auto navba-menu ">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/Home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/About">About Metro</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex" href="#" id="navbardrop" data-toggle="dropdown">
            Our Services
            <i class="material-icons">
              keyboard_arrow_down
              </i>
          </a>
          <div class="dropdown-menu servies-menu py-0">
            <a class="dropdown-item" href="#"> Housekeeping Services </a>
            <a class="dropdown-item" href="#"> Pest Control Services </a>
            <a class="dropdown-item" href="#"> Security Services </a>
            <a class="dropdown-item" href="#"> Staffing Services</a>
            <a class="dropdown-item" href="#"> Project Management Services </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/Contact">Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="navbar-collapse  sidenav" id="mySidenav">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
      <ul class="navbar-nav ml-auto mobile-menu">
        
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#">Homepage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#">Log In</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle border-bottom" href="#" id="navbardrop" data-toggle="dropdown">
            Help
          </a>
          <div class="dropdown-menu border-0">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
          </div>
        </li> -->
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#">Help</a>
        </li><li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#">Blog</a>
        </li>
      </ul>
      <div class="sidenav-footer">
        <p class="copyright-header mb-0">Copyright © 2022 <a href="#"> Daaps </a>.</p>
      </div>
    </div>
  </div>
</nav>