.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 42px;
    box-shadow: 5px 0px 50px #858585;
}

.sidenav .closebtn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
    color: #000;
}
.dropdown-toggle::after{
    display: none;
}
//

.navbar{-webkit-transition: padding-top .3s,padding-bottom .3s;
    -moz-transition: padding-top .3s,padding-bottom .3s;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
	}
	
//  .shrink {
    
//     background-color: #fff;
//     box-shadow: 0px 1px 2px #1c2a5e40;
// }
.navba-menu {
    li {
        .nav-link{
            font-size: 17px;
            margin-left: 17px;
            color: #2a578c;
            font-weight: 600;
        }
    }
}
.main-logo{
    display: flex;
    align-items: center;
    width: 14%;
    span{
        font-size: 26px;
    margin-left: 5px;
    font-weight: 500;
    color: #0763bf;
    }
}
.mobile-menu{
    li{
        a{
            color: #000;
            padding: 14px 40px;
            font-weight: 500;
            letter-spacing: 0.7px;
        }
    }
}
.copyright-header {
    position: absolute;
    bottom: 10px;
    text-align: center;
    left: 56px;
}

.navbar-white{
    background: white;
    border-radius: 6px;
    box-shadow: 0 2px 6px #7c7c7c;
    padding: 0 14px;
    i{
        line-height: 1.3;
    }
    
}
.servies-menu{
    border-top: 4px solid #2a578c;
    a {
        border-bottom: 1px solid #e5e5e5;
    padding: 10px 15px;
    font-weight: 500;
    &:hover{
        color: #2c86dd;
    background-color: transparent;
    }
    }
}

@media (max-width: 980px){
    .main-logo{
        width: 40%;
    }
    
}