<div class="same-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 banner-text">
                <div class="search-banner mt-5">
                    <h2> Contact us </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="info-box"> <i class="fas fa-map-signs"></i>
                            <h3>Head Office</h3>
                            <p>B3, Sai Sidhhesh Complex, Raghuji Nagar, Sakkardara, Nagpur – 4400 23. India</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4"> <i class="fas fa-envelope"></i>
                            <h3>Email Us</h3>
                            <p>metro_hr@hotmail.com</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4"> <i class="fas fa-phone"></i>
                            <h3>Call Us</h3>
                            <p>+91 9096088191 / +91 9923552388</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-content">
                    <h2> METRO CARE </h2>
                    <p> Provides ease of access for associate query resolution. <br>
                        Associates across the country can reach out to us through
                        various mediums at no cost. <strong>The 24*7</strong> number manned by our
                        skilled service reps provides resolution to associate queries.
                        Associates can get on the go queries related to PF balance,
                        salary, attendance resolved by sending a message on our
                        Whatsapp no <strong>+91 9923552388</strong>. Alternatively, <strong>MetroCare</strong>, an
                        android app, also addresses the concerns/queries of associates.
                        This frees the client from addressing the day to day issues
                        of outsourced manpower and allows them to focus on the core activities.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="contact-section mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <iframe class="w-100 map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.6757625480996!2d79.110348514409!3d21.12548908984606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4c755a9d36495%3A0x70715cfc38f79be0!2sSiddhesh%20Sai%20Apartment!5e0!3m2!1sen!2sin!4v1659092569563!5m2!1sen!2sin"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-lg-6">
                <form class="php-email-form">
                    <div class="row">
                        <div class="col form-group"> 
                            <input type="text" class="form-control" placeholder="Your Name" required="">
                        </div>
                        <div class="col form-group"> 
                            <input type="email" class="form-control" placeholder="Your Email" required="">
                        </div>
                    </div>
                    <div class="form-group "> 
                        <input type="text" class="form-control" placeholder="Subject" required="">
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" placeholder="Message" required=""></textarea>
                    </div>
                    
                    <div class="text-center"><button class="btn btn-primary" type="submit">Send Message</button></div>
                </form>
            </div>
        </div>
    </div>
</div>