.same-banner{
    background-color: #34f5f514;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 18rem;
    padding-top: 160px;
    background-image: url(/assets/images/2.jpg);
    h2{
        font-size: 30px;
    font-weight: 700;
    color: #2a578c;
    text-transform: uppercase;
    }
}

.info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 20px rgb(214 215 216 / 50%);
    padding: 20px 0 30px 0;
    i {
        font-size: 32px;
        color: #2a578c;
        border-radius: 50%;
        padding: 8px;
        border: 2px dotted #9dc3f1;
    }
    h3 {
        font-size: 20px;
        color: #777777;
        font-weight: 700;
        margin: 10px 0;
    }
    p {
        padding: 0;
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 0;
    }
}
.map{
    height: 325px;
}
.php-email-form {
    box-shadow: 0 0 20px rgb(214 215 216 / 50%);
    padding: 30px;
    input, textarea {
        padding: 20px 15px;
    }
}
button[type=submit] {
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}