/* You can add global styles to this file, and also import other style files */
a{
    text-decoration: none!important;
}
ul,ol{
    list-style: none;
}
.d-flex{
    display: flex;
    align-items: center;
}
section {
    padding: 60px 0;
    overflow: hidden;
}