<div class="footer animate__fadeInDown">
    <div class="container">
        <div class="row footer-top">
            <div class="col-sm-4 ">
                <h4 class="ft-text-title">Metro Facility Management</h4>
               <p>
                Metro Facility Management is professional in HR Solution As Staffing,
                Housekeeping, Security solution and project management etc.... <a href="">More</a>
               </p>
                <h5 >
                    <a class="contact" href="tel:1234567890">
                        <i class="fa fa-mobile"></i> 1234567890</a>
                    </h5>
                </div>
                <div class="col-sm-4  border-left">
                    <h4 class="ft-text-title">Our Services</h4>
                    <div class="address-member">
                        <ul class="footer-service">
                            <li> <a href=""><span class="material-icons"> chevron_right </span> Housekeeping Services </a> </li>
                            <li> <a href=""><span class="material-icons"> chevron_right </span> Pest Control Services </a> </li>
                            <li> <a href=""><span class="material-icons"> chevron_right </span> Security Services </a> </li>
                            <li> <a href=""><span class="material-icons"> chevron_right </span> Staffing Services </a> </li>
                            <li> <a href=""><span class="material-icons"> chevron_right </span> Project Management Services </a> </li>
                        </ul>
                   </div>
               </div>
               <div class="col-sm-4 col-xs-12  border-left">
                <h4 class="ft-text-title">Quick Links</h4>
                <div class="address-member">
                    <ul class="footer-service">
                        <li> <a href=""><span class="material-icons"> chevron_right </span> About </a> </li>
                        <li> <a href=""><span class="material-icons"> chevron_right </span> Legal Compliances </a> </li>
                        <li> <a href=""><span class="material-icons"> chevron_right </span> Terms & Condition </a> </li>
                        <li> <a href=""><span class="material-icons"> chevron_right </span> Our Valuable Satisactory </a> </li>
                        <li> <a href=""><span class="material-icons"> chevron_right </span> Contact </a> </li>
                    </ul>
               </div>
            </div>
        </div>
        
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
               <ul class="social-icon p-0">
                <li> <i class="fab fa-facebook"></i> </li>
                <li> <i class="fab fa-instagram"></i> </li>
                <li> <i class="fab fa-youtube"></i> </li>
                <li> <i class="fa fa-globe"></i> </li>
               </ul>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="container">
        <div class="row ft-copyright pt-2 pb-2 text-center">
            <div class="col-sm-12 text-pp-crt">© Copyright Metro Facility Management | All Rights Reserved | 
               <a href="" class="text-white">Designed by DAppsIndia</a> </div>
            
        </div>
    </div>
</div>