.footer {
    background: #2a578c;
    padding-top: 60px;
    h4 , h5 a{
        color: #fff;
        margin-bottom: 20px;
        &:hover{
            color: #00182e;
        }
    }
    p{
        color: #cdcdcd;
        a{
            color: #00182e;
            font-weight: 600;
        }
    }

}
.footer-service{
    list-style: none;
    padding: 0;
    li {
        a{
            display: flex;
        align-items: center;
        margin-bottom: 10px;
        color: #cdcdcd;
        font-weight: 500;
        font-style: oblique;
        &:hover{
            color: #00182e;
        }
        }
       
    }
}
.copyright {
    background: #00366a;
    color: #fff;
    font-weight: 500;
    padding: 10px 0;
}
//social icon
.social-icon {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    li{
        padding: 10px;
        border-radius: 30px;
        margin: 0 10px;
        background: #00366a;
        color: #fff;
        width: 50px;
        height: 50px;
        transition-duration: 0.6s;
        &:hover{
            background: #fff; 
            color: #00366a;
            
        }
        i{
            font-size: 30px;
        }
    }
}