<div class="banner123">
	<div id="demo" class="carousel slide" data-ride="carousel">
		<ul class="carousel-indicators">
			<li data-target="#demo" data-slide-to="0" class="active"></li>
			<li data-target="#demo" data-slide-to="1"></li>
			<li data-target="#demo" data-slide-to="2"></li>
		</ul>
		<div class="carousel-inner">
			<div class="carousel-item active banner">
				<div class="container d-lg-none d-flex">
					<div class="row">
						<div class="col-md-12 banner-text">
							<div class="search-banner mt-5">
								<h3> Welcome Metro Facility Management </h3>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item banner banner2">
				<div class="container d-lg-none d-flex">
					<div class="row">
						<div class="col-md-12 banner-text">
							<div class="search-banner mt-5">
								<h3> Welcome Metro Facility Management </h3>
							</div>
						</div>
					</div>
				</div> 
			</div>
			<div class="carousel-item banner banner3">
				<div class="container d-lg-none d-flex">
					<div class="row">
						<div class="col-md-12 banner-text">
							<div class="search-banner mt-5">
								<h3> Welcome Metro Facility Management </h3>
							</div>
						</div>
					</div>
				</div> 
			</div>
		</div>
		<a class="carousel-control-prev d-none d-lg-block" href="#demo" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</a>
		<a class="carousel-control-next d-none d-lg-block" href="#demo" data-slide="next">
			<span class="carousel-control-next-icon"></span>
		</a>
	</div>

</div>


