
.banner{
    background-color: #34f5f514;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 38rem;
    padding-top: 130px;
    background-image: url(/assets/images/banner1.jpeg);
}
.banner2{
    background-image: url(/assets/images/banner2.jpg);
}
.banner3{
    background-image: url(/assets/images/banner3.jpg);
}




.carousel-indicators .active {
    opacity: 1;
}
.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 3px solid #3499fd;
}
@media (max-width: 980px){
    .banner{
        height: 27rem;
        padding-top: 0;
       
        .search-banner {
            background: transparent;
            border: none;
            h3{
                text-align: center;
                padding: 10px 0;
                color: #fff;
                background: #00000057;
                border-radius: 10px;
            }
        }
    }
    ::ng-deep.mat-form-field-wrapper {
        margin: 0.4em 0px!important;
        background: #fff;
        box-shadow: 0px 0px 7px rgb(140 235 235);
        padding: 0;
    }
    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 50px;
        border: 1px solid #3499fd;
    }
    .d-flex{
        display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    }
}
//********************************************************
